body {
  background-color: #000;
}

.play-button {
  background-color: #fff;
  color: #000;
  margin: 3px;
  padding: 10px;
  border: 1px dashed #fff;
  /*box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-self: auto;
  flex-direction: column;
  flex-wrap: wrap;*/
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    float: left;
}

.message-box {
  font-size: 4em;
  color: #fff;
}

.letters-guessed {
  font-size: 3em;
  color: #fff;
  border-color: #000;
  padding: 10px;
  height: 300px;
  width: 300px;
  border: 1px dashed #fff;
}

.outer {
width: 500px;
height: 500px;
background-color: #000;
display: flex;
border: 1px dashed #fff;
}

.inner {
width: 400px;
height: 400px;
background-color: #000;
margin: auto;
border: 1px dashed #fff;
}

/*#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-self: center;
    flex-wrap: wrap;
    align-content: center;
    height: 300px;
    width: 400px;
}*/
