/** {
  border: 1px dashed blue;
}*/

body {
  background-color: orange;
}

/*#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-self: center;
    flex-wrap: wrap;
    align-content: center;
    height: 300px;
    width: 400px;
    border: 2px dashed #fff;
}*/

.play-button {
  background-color: grey;
  color: #fff;
  margin: auto;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-self: auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.message-box {
  font-size: 3em;
  color: blue;
}



.outer {
width: 500px;
height: 500px;
background-color: pink;
display: flex;
border: 1px dashed #fff;
}

.inner {
width: 400px;
height: 400px;
background-color: green;
margin: auto;
border: 1px dashed #fff;
}
